<div id="<%= dom_id reaction %>">
  <p>
    <strong>Like:</strong>
    <%= reaction.like %>
  </p>

  <p>
    <strong>Dislike:</strong>
    <%= reaction.dislike %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reaction.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= reaction.post_id %>
  </p>

</div>
